$black: #0B0D17;
$white: #FFFFFF;
$primary: #D0D6F9;

$tablet: 1300px;
$mobile: 768px;

@keyframes moving {
    from{transform: translateY(50px); opacity: 0;}
    to{transform: translateY(0px); opacity: 1;}
}
@keyframes moving-reverse {
  from{transform: translateY(-50px); opacity: 0;}
  to{transform: translateY(0px); opacity: 1;}
}

body{
  position: relative;
    #ham-nav{
    width: 0%;
    display:flex; flex-direction: column; gap: 32px;
    position: absolute; z-index: 2;
    height: 100%; padding-top: 118px;
    background: rgba(255, 255, 255, 0.04); backdrop-filter: blur(40.774227142333984px);
    transition: all ease-in-out 200ms; overflow: hidden; right: 0px;
    a{
      color: white; text-decoration: none;
      cursor: pointer;
      box-sizing: border-box;
      display: flex; gap: 11px; margin-right: auto; padding-left: 32px;
      .a_number{font-weight: 700;}
    }
    }
    margin: 0;
    background-image: url("../../assets/crew/background-crew-desktop.jpg"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;
    @media only screen and (max-width: $tablet) {background-image: url(../../assets/crew/background-crew-tablet.jpg);}
    @media only screen and (max-width: $mobile) {background-image: url(../../assets/crew/background-crew-mobile.jpg);}
    nav{
        padding-left: 55px; padding-top: 40px;
        color: white;
        display: flex; justify-content: space-between; align-items: center;
        @media only screen and (max-width: $tablet) {padding-left: 39px; padding-top: 0px;}
        @media only screen and (max-width: $mobile) {padding: 24px;}
        #line{@media only screen and (max-width: $tablet) {display: none;} position: absolute; left: 180px; z-index: 1; width: calc(100% - 830px - 120px); height: 1px; background-color: #979797;}
        div{
            padding: 0px 165px 0px 123px;
            background: rgba(255, 255, 255, 0.04); backdrop-filter: blur(40.774227142333984px);
            display: flex; gap: 48px;
            @media only screen and (max-width: $tablet) {padding: 0px 47px; gap: 37px;}
            a{
              color: white; text-decoration: none;
              cursor: pointer;
              box-sizing: border-box;
              display: flex; gap: 11px;
              padding: 38px 0px;
              .a_number{font-weight: 700;}
              border-bottom:  3px solid;
              border-color: rgba(255, 255, 255, 0);
              transition: all ease-in-out 200ms;
              @media only screen and (max-width: $mobile) {display: none;}
            }
            a:hover{border-color: rgba(255, 255, 255, 0.5);}
            #active{
              border-bottom:  3px solid white;
            }
        }
        button{
          display: none; background-color: rgba(255, 255, 255, 0); border: none; cursor: pointer; z-index: 3;
          @media only screen and (max-width: $mobile) {display: block;}
        }
    }
    #title{
        @media only screen and (max-width: $tablet){margin-right: auto; padding-left: 38px;}
        @media only screen and (max-width: $mobile){margin-left: auto; margin-right: auto; justify-content: center; padding: 0px; gap: 14px;}
        padding-left: 160px; width: 100%; display: flex; flex-direction: row; gap: 28px;
        #dest_number{opacity: 0.25; font-weight: 700;}
    }
    
    section{
      @media only screen and (min-height: 920px){position: absolute; bottom: 0;}
      height: auto;
      display: flex;  gap: 80px; align-items: start; padding: 0px 160px; padding-top: 76px; box-sizing: border-box; height: auto; margin-top: auto;
      @media only screen and (max-width: $tablet) {@media only screen and (min-height: 836px){position: absolute; bottom: 0;} height: calc(100%); gap: 50px; align-items: center; flex-direction: column; text-align: center; padding-top: 40px; padding: 0px 38px;}
      @media only screen and (max-width: $mobile) {height: auto; gap: 0px; flex-direction: column-reverse; padding: 0px 24px; padding-top: 24px;}
        #left{
            width: 50%; box-sizing: border-box; align-self: center; display: flex; flex-direction: column;
            @media only screen and (max-width: $tablet){min-width: 100%;}
            @media only screen and (max-width: $mobile){flex-direction: column-reverse;} 
            .text-content{
                display: none; flex-direction: column;
                h4{opacity: 0; animation: moving 1.5s ease forwards; margin: 0px; color: #585A61; padding-bottom: 16px;}
                h3{opacity: 0; animation: moving 2s ease forwards; margin: 0px; margin-bottom: 28px; min-width: 625px; @media only screen and (max-width: $mobile){min-width: 10px;}}
                p{opacity: 0; animation: moving 2.5s ease forwards; margin: 0px; height: 200px;}
            }
            .text-content.active{display: flex;}
            #tabs{ 
                @media only screen and (max-width: $tablet){justify-content: center;}
                @media only screen and (max-width: $mobile){padding: 32px 0px;}
                display: flex; gap: 24px;
                .tab{border: none; background-color: #979797; transition: all ease-in-out 200ms; opacity: 0; animation: moving 1.5s ease forwards; cursor: pointer; width: 15px; height: 15px; border-radius: 15px;}
                .tab:hover{background-color: #85868B;}
                .tab.active{background-color: $white;}
            }
            
        }
        hr{display: none; @media only screen and (max-width: $mobile){display: block;} width: 100%; margin: 0px; border-color: #585A61;}
        #right{
            height: 100%; width: 50%; box-sizing: border-box;
            @media only screen and (max-width: $tablet){width: 100%;}
            display: flex; flex-direction: column; gap: 28px;
            .crew-img{
              max-height: 700px; width: auto;
              @media only screen and (max-width: $tablet){max-height: none;}
            @media only screen and (max-width: $mobile){animation: moving-reverse 1.5s ease forwards;}
            margin-top: auto; animation: moving 1.5s ease forwards; display: none; opacity: 0; max-width: 600px; margin-left: auto; margin-right: auto; @media only screen and (max-width: $tablet){width: 50%;}
            }
            .crew-img.active{display: block;}
        }
    }
}