$black: #0B0D17;
$white: #FFFFFF;
$primary: #D0D6F9;

$tablet: 1300px;
$mobile: 768px;

body{
    height: 100vh;
    #ham-nav{
    width: 0%;
    display:flex; flex-direction: column; gap: 32px;
    position: absolute; z-index: 2;
    height: 100%; padding-top: 118px;
    background: rgba(255, 255, 255, 0.04); backdrop-filter: blur(40.774227142333984px);
    transition: all ease-in-out 200ms; overflow: hidden; right: 0px;
    a{
      color: white; text-decoration: none;
      cursor: pointer;
      box-sizing: border-box;
      display: flex; gap: 11px; margin-right: auto; padding-left: 32px;
      .a_number{font-weight: 700;}
    }
    }
    margin: 0;
    background-image: url("../../assets/destination/background-destination-desktop.jpg"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;
    @media only screen and (max-width: $tablet) {background-image: url(../../assets/destination/background-destination-tablet.jpg);}
    @media only screen and (max-width: $mobile) {background-image: url(../../assets/destination/background-destination-mobile.jpg);}
    nav{
        padding-left: 55px; padding-top: 40px;
        color: white;
        display: flex; justify-content: space-between; align-items: center;
        @media only screen and (max-width: $tablet) {padding-left: 39px; padding-top: 0px;}
        @media only screen and (max-width: $mobile) {padding: 24px;}
        #line{@media only screen and (max-width: $tablet) {display: none;} position: absolute; left: 180px; z-index: 1; width: calc(100% - 830px - 120px); height: 1px; background-color: #979797;}
        div{
            padding: 0px 165px 0px 123px;
            background: rgba(255, 255, 255, 0.04); backdrop-filter: blur(40.774227142333984px);
            display: flex; gap: 48px;
            @media only screen and (max-width: $tablet) {padding: 0px 47px; gap: 37px;}
            a{
              color: white; text-decoration: none;
              cursor: pointer;
              box-sizing: border-box;
              display: flex; gap: 11px;
              padding: 38px 0px;
              .a_number{font-weight: 700;}
              border-bottom:  3px solid;
              border-color: rgba(255, 255, 255, 0);
              transition: all ease-in-out 200ms;
              @media only screen and (max-width: $mobile) {display: none;}
            }
            a:hover{border-color: rgba(255, 255, 255, 0.5);}
            #active{
              border-bottom:  3px solid white;
            }
        }
        button{
          display: none; background-color: rgba(255, 255, 255, 0); border: none; cursor: pointer; z-index: 3;
          @media only screen and (max-width: $mobile) {display: block;}
        }
    }
    #title{
        @media only screen and (max-width: $tablet){margin-right: auto; padding-left: 38px;}
        @media only screen and (max-width: $mobile){margin-left: auto; margin-right: auto; justify-content: center; padding: 0px; gap: 14px;}
        padding-left: 160px; width: 100%; display: flex; flex-direction: row; gap: 28px;
        #dest_number{opacity: 0.25; font-weight: 700;}
    }
    section{
      display: flex; gap: 150px; align-items: center; box-sizing: border-box; padding: 76px 160px; align-items: center; height: auto;
      @media only screen and (max-width: $tablet) {gap: 50px; align-items: center; flex-direction: column; text-align: center; height: auto; padding: 64px 38px;}
      @media only screen and (max-width: $mobile) {padding: 48px 24px; gap: 81px; height: auto;}
        #left{
            width: 50%;;
            @media only screen and (max-width: $tablet){min-width: 100%;}
            .destination-img{animation: moving 1.5s ease forwards; display: none; opacity: 0; max-width: 600px; width: 100%; margin-left: auto; margin-right: auto; @media only screen and (max-width: $tablet){width: 50%;}}
            .destination-img.active{display: block;}
        } 
        #right{
            width: 50%;
            @media only screen and (max-width: $tablet){width: 100%;}
            display: flex; flex-direction: column; gap: 28px;
            #tabs{
                @media only screen and (max-width: $tablet){justify-content: center;}
                width: 100%;
                display: flex; flex-direction: row; gap: 35px;
                button{transition: all ease-in-out 200ms; cursor: pointer; color: $primary; width: fit-content; background-color: #ffffff00; border: none; padding-bottom: 12px; border-bottom: 3px solid rgba(255, 255, 255, 0);}
                button:hover{border-bottom: 3px solid rgba(255, 255, 255, 0.5);}
                .active{border-bottom: 3px solid $white; color: $white;}
            }
            .content{
                display: flex; flex-direction: column; gap: 54px; width: 100%;
                .text-content{
                    @media only screen and (max-width: $tablet){min-width: none;}
                    @media only screen and (min-width: $tablet){min-width: 615px;}
                    width: 100%; display: none; flex-direction: column; gap: 14px; opacity: 0;
                    animation: moving .5s ease forwards;
                    h1{margin: 0px;}
                    p{width: 100%; min-height: 96px; margin: 0px; @media only screen and (max-width: $tablet){max-width: 653px; margin-left: auto; margin-right: auto; min-height: none;}}
                }
                @keyframes moving {
                    from{transform: translateY(50px); opacity: 0;}
                    to{transform: translateY(0px); opacity: 1;}
                }
                .text-content.active{
                    display: flex;
                }
                hr{width: 100%; margin: 0px; border-color: #383B4B; @media only screen and (max-width: $tablet){max-width: 653px; margin-left: auto; margin-right: auto;}}
            }
            .details-wrap{
                @media only screen and (max-width: $tablet){justify-content: center; gap: 12px;}
                @media only screen and (max-width: $mobile){flex-direction: column; gap: 32px;}
                width: 100%; display: flex; flex-direction: row; gap: 80px;
                .details{
                    @media only screen and (max-width: $mobile){margin-left: auto; margin-right: auto;}
                    @media only screen and (max-width: $tablet){width: 216px;}
                    display: flex; flex-direction: column; gap: 10px; 
                    h5{margin: 0px; font-family: Bellefair; text-transform: uppercase; display: none; animation: moving 1s ease;}
                    h5.active{display: block;}
                }
            }
        }
    }
}